html {
  margin: 60px 60px 0px 60px;
}

body {
  font-family: "Inter", sans-serif;
  background: #f3f5fc;
  margin: 0px;

  flex-grow: 1;
}

.grid {
  background: #f3f5fc;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 50px;
}

#texto {
  margin-top: 180px;
  margin-bottom: 50px;
  display: block;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  background: #f3f5fc;
  border: none;
  box-shadow: none;
  outline: 0;
  color: #0a3871;
  width: 100%;
  resize: none;
}

.icone {
  background-color: #f3f5fc;
}

.campodetexto {
  display: grid;
  align-content: space-between;
}

.aviso {
  place-content: end;
}

#frases {
  max-width: 30ch;
}

#resultado {
  display: grid;
  background-color: white;
  border-radius: 30px;
  text-align: center;
  place-items: center;
  height: calc(100vh - 100px);
  align-content: center;
}

button {
  padding: 24px;

  width: 328px;
  height: 67px;

  background: #0a3871;
  border-radius: 24px;
  color: white;
  margin-top: 30px;
  margin-right: 20px;
}

button:active {
  width: 335px;
}

#msgencriptada {
  font-family: "Inter", sans-serif;
  color: gray;
  font-size: 32px;
  width: 100%;
  height: 85%;
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  resize: none;
}

#frase {
  color: gray;
}

span {
  color: gray;
}

.botao2 {
  color: #0a3871;
  background: #d8dfe8;
  border: 1px solid #0a3871;
}

#botao3 {
  background: white;
  color: #0a3871;
  border: 1px solid #0a3871;
  max-width: 100%;
  margin: 20px;
}

#imagem {
  margin: 0px 16px;
}

@media (max-width: 920px) {
  html {
    margin: 0px;
  }
  body {
    margin: 20px 20px;
  }

  .grid {
    grid-template-columns: 1fr;
    gap: 0px;
  }

  #resultado {
    height: auto;
    padding: 0px;
    margin-top: 20px;
    max-width: 100%;
    display: grid;
    justify-content: center;
    padding: 0px;
  }

  #imagem {
    display: none;
  }

  .botoes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  span {
    justify-content: center;
  }

  #texto {
    margin-top: 50px;
  }

  button {
    margin: 15px 5px;
  }
}

#msgencriptada {
  width: 100%;
  height: auto;
}
